<%- include header %>
<form method="post">
  user name       ：  <input type="text" name="name"/><br />
  password        ：  <input type="password" name="password"/><br />
  password confirm：  <input type="password" name="password-repeat"/><br />
  email address   ：  <input type="email" name="email"/><br />
  
           <input type="submit" value="register"/>
</form>
<%- include footer %>